@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
  outline: none;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  /* background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png); */
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.app-sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  text-align: center;
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
}
.app-sidebar-header h1 {
  margin: 0;
  font-size: 30px;
}

.app-sidebar-new {
  width: 100%;
  font-weight: 600;
  padding: 20px 0;
  font-size: 1.2em;
  background-color: #08c;
  color: #fff;
}
.app-sidebar-notes {
  flex: 1;
  /* height: calc(100vh - 78px); */
  overflow-y: scroll;
}
.app-sidebar-note {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sidebar-note-title strong {
  overflow: hidden;
  white-space: nowrap;
}

.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #08c;
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 0 25px 25px;
}
.app-main-note-edit {
  display: flex;
  flex-direction: column;
}
.app-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.app-main-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 0;
}
.app-main-header button span {
  font-weight: 600;
  font-size: 20px;
  margin-left: 5px;
}
.app-main-header button svg {
  width: 30px;
  height: 30px;
}

.app-main-delete {
  color: crimson;
}

.app-main-delete:hover {
  color: crimson;
}

.no-active-note {
  flex: 1;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
  margin-bottom: 100px;
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  display: block;
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
  height: max-content;
}

.app-editor-toolbar {
  border: 1px solid #ddd !important;
  position: sticky;
  top: 10px;
  z-index: 10;
  background-color: #fff;
  /* border: 1px solid #000 !important; */
}

.app-editor-editor {
  border: 1px solid #ddd;
  min-height: 400px;
  padding: 0 15px;
  overflow: hidden !important;
}

.jodit-wysiwyg {
  min-height: 300px !important;
}

@media (max-width: 768px) {
  .app-sidebar {
    width: 200px;
  }
  .app-sidebar-header button {
    width: 100%;
    font-weight: 600;
    padding: 15px 0;
    background-color: #08c;
    color: #fff;
  }
  .app-sidebar-notes {
    height: auto;
    flex: 1;
  }
  .app-sidebar-note-content {
    padding: 15px 10px 10px;
  }
  .sidebar-note-title strong {
    font-size: 90%;
  }
  .app-main {
    padding: 0 10px 15px;
  }
  .app-sidebar-note {
    padding: 15px 10px;
  }
  .app-sidebar-note small {
    font-size: 70%;
  }
  .app-main-note-edit input {
    font-size: 1.2em;
    height: 40px;
    margin-bottom: 15px;
  }
}

@media (max-width: 540px) {
  .no-active-note {
    display: none;
  }
  .app-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: auto;
    background-color: #fff;
    padding: 0 15px 15px;
  }
  .app-sidebar {
    width: 100%;
    border: none;
  }
  .app-sidebar-note-content {
    padding: 20px 15px;
  }
  .sidebar-note-title strong {
    font-size: 100%;
  }
}
